<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(233, 136, 25);">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img class="img-responsive" src="assets/img/logo-laisa.png" width="50"> 
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">HOME </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/blog']" routerLinkActive="active">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/portfolio']" routerLinkActive="active">PORTFÓLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contato']" routerLinkActive="active">CONTATO</a>
        </li>
      </ul>
   </div>
  </div>
</nav>
