<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME</title>


</head>

<body>
  <lsml-menu></lsml-menu>
  <section class="pag-css">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <div class="pag-foto">
            <img id="perfil" class="img-responsive" src="assets/img/foto1.png">
          </div>
        </div>
        <div class="col-6">
          <div class="pag-principal1">
            <p><b> LAISA </b></p>
          </div>
          <div class="pag-principal2">
            <p><b>  LAMIR</b></p>
          </div>
          <h1><B> < WEB DEVELOPMENT FRONT END /> </B></h1>
        </div>
      </div>
    </div>
  </section>

  <div class="pag-about">
    <h2>ABOUT: </h2>
    <p>Computer programming student focusing on web development. </p>
    <p> I am dedicated to deepening my knowledge in frontend, <br> aiming to develop dynamic and responsive interfaces, an efficient and enlightened build.</p>
    <div class="logo">
      <img id="logo" class="img-responsive" src="assets/img/logo-laisa.png">
    </div>
  </div>

  <div class="pag-tech">
    <h2> TECNNOLOGY ITINERARIES:</h2>

      <button type="button" class="btn btn-primary margin">HTML 5</button>
      <button type="button" class="btn btn-secondary margin">CSS 3</button>
      <button type="button" class="btn btn-success margin">JAVASCRIPT</button>
      <button type="button" class="btn btn-danger margin">ANGULAR</button>

    <H2> SKILLS:</H2>

          <button type="button" class="btn btn-outline-primary margin"> BOOTSTRAP </button>
          <button type="button" class="btn btn-outline-secondary margin">NODEJS</button>
          <button type="button" class="btn btn-outline-success margin">COBOL</button>
          <button type="button" class="btn btn-outline-danger margin">.NET</button>
          <button type="button" class="btn btn-outline-warning margin">C/C++</button>
          <button type="button" class="btn btn-outline-info margin">PYTHON</button>
          <button type="button" class="btn btn-outline-primary margin">SQL</button>
          <button type="button" class="btn btn-outline-dark margin">JAVA</button>


  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <p><b>LAISA LAMIR</b></p>
        </div>
        <div class="col-4">
          <p><b>  WEB DEVELOPMENT</b></p>
        </div>
        <div class="col-4">
          <p><b> 2021</b></p>
        </div>
      </div>
    </div>
  </footer>


</body>
</html>
