body{
  font-family:cursive;
  margin-left: 5px;
  background-color: white;

}
.pag-css{

  font-size: 40px;
  text-shadow:rgb(248, 247, 245) -2px -2px;
  background-color: rgb(233, 136, 25);

}
.pag-css img{
  margin-bottom:-100px;
  width:170px;
  border-radius: 50%;
  border: 2px solid rgb(243, 242, 242);
  margin-left: 30px;
}
hr {
  border: 2px  rgba(5, 5, 5);

	}

#logo{
  text-align: center;
  width: 15%;
  margin-top: 50px;
}
h1{
  padding-top: 60px;
  font-size: 35px;
}
.pag-about{
  font-size: 20px;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 60px;

}
.pag-tech{
  font-size: 30px;
  padding-top: 40px;
  text-align: center;
  padding-bottom: 60px;

}
h2{
  padding-top: 60px;
  font-size: 30px;
  text-align: left;
  text-shadow:rgb(233, 136, 25) -2px -2px
}
.margin{
  font-style: oblique;
  margin: 30px 20px  30px 50px;
  font-size: 20px;
}
footer{
  background-color: rgb(233, 136, 25);
  padding-top: 10PX;
  text-align: center;
  text-shadow:rgb(218, 213, 208) -2px -2px
}
